In [5]:
import pandas as pd
import numpy as np
rating_dataset = pd.read_pickle("D:/University/Edinburgh/Dissertation/data/ratings_1m.pkl")
user_df =pd.read_csv("D:/University/Edinburgh/Dissertation/data/movielens/users.dat",sep="::",header=None)
user_df.rename(columns={0: "userId", 1: "gender", 2: "age", 3: "occupation", 4: "postcode"}, inplace=True)
# user_df.drop("postcode")
# user_df.loc[user_df["age"] == 1, "Age Group"] = "Under 18"
# user_df.loc[user_df["age"] == 18, "Age Group"] = "18-24"
# user_df.loc[user_df["age"] == 25, "Age Group"] = "25-34"
# user_df.loc[user_df["age"] == 35, "Age Group"] = "35-44"
# user_df.loc[user_df["age"] == 45, "Age Group"] = "45-49"
# user_df.loc[user_df["age"] == 50, "Age Group"] = "50-55"
# user_df.loc[user_df["age"] == 56, "Age Group"] = "56+"

dummies_gender = pd.get_dummies(user_df["gender"], prefix="gender")
dummies_age = pd.get_dummies(user_df["age"], prefix="Age")
dummies_occupation = pd.get_dummies(user_df["occupation"], prefix="Occ")
res = pd.concat([user_df["userId"], dummies_gender, dummies_age, dummies_occupation, user_df["postcode"]], axis=1)
# res.to_pickle("user_df.pkl")
print(res.head())

   userId  gender_F  gender_M  Age_1  Age_18  Age_25  Age_35  Age_45  Age_50  \
0       1         1         0      1       0       0       0       0       0
1       2         0         1      0       0       0       0       0       0
2       3         0         1      0       0       1       0       0       0
3       4         0         1      0       0       0       0       1       0
4       5         0         1      0       0       1       0       0       0

   Age_56  ...  Occ_12  Occ_13  Occ_14  Occ_15  Occ_16  Occ_17  Occ_18  \
0       0  ...       0       0       0       0       0       0       0
1       1  ...       0       0       0       0       1       0       0
2       0  ...       0       0       0       1       0       0       0
3       0  ...       0       0       0       0       0       0       0
4       0  ...       0       0       0       0       0       0       0

   Occ_19  Occ_20  postcode
0       0       0     48067
1       0       0     70072
2       0       0     55117
3       0       0     02460
4       0       1     55455

[5 rows x 32 columns]

c:\Users\nikol\anaconda3\envs\PTVQA\lib\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

In [6]:
users_ratings_metadata = res.merge(rating_dataset, how='inner', on='userId')
users_ratings_metadata.head()

,userId,gender_F,gender_M,Age_1,Age_18,Age_25,Age_35,Age_45,Age_50,Age_56,...,Occ_15,Occ_16,Occ_17,Occ_18,Occ_19,Occ_20,postcode,movieId,rating,timestamp
0,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,48067,1193,5,978300760
1,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,48067,661,3,978302109
2,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,48067,914,3,978301968
3,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,48067,3408,4,978300275
4,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,48067,2355,5,978824291

In [7]:
users_ratings_metadata.to_pickle("D:/University/Edinburgh/Dissertation/data/users_ratings_metadata_df.pkl")

In [1]:
import pandas as pd
import torch
users_ratings_metadata = pd.read_pickle("D:/University/Edinburgh/Dissertation/data/users_ratings_metadata_df.pkl")
X = users_ratings_metadata

In [ ]:
if self._current >= self.n_batches:
    raise StopIteration()
k = self._current
self._current += 1
bs = self.batch_size
X_batch = torch.LongTensor(self.X[k * bs : (k + 1) * bs])
Y_batch = torch.FloatTensor(self.Y[k * bs : (k + 1) * bs])