In [2]:
import pandas as pd
user_df =pd.read_csv("../data/movielens/users.dat",sep="::",header=None)

c:\Users\nikol\anaconda3\envs\PTVQA\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [6]:
user_df.rename(columns={0: "userId", 1: "gender", 2: "age", 3: "occupation", 4: "postcode"}, inplace=True)

In [7]:
user_df

      userId gender  age  occupation postcode
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]